body {
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}
.footer {
	text-align: center;
}
.row-fluid {
	margin: 0 auto;
}
.container-fluid {
	min-height: 300px;
}


#game-div {
	min-height: 450px;
}
#gamestatus-div {
	min-height: 400px;
	font-size: 12px;
}
#game-canvas {
	background-color: #CD9B1D;
	cursor: pointer;
}

#piece_float_none{
	float:none;
}
#piece_sign_top{
	margin-top: 5px;
	padding-left: 60px;
}
#piece_sign_bottom {
	margin-top: 5px;
	padding-left: 60px;
}
.gamemove-status {
	background-repeat: no-repeat;
	background-position: 15px,10px;
}
.rooms-title{
    margin-left: 50px;
}
#rooms-table{
	margin-left: 50px;
	width: 70%;
}
#alert-model-dom {
	top: 30%;
}
#enter-room-form{
	margin-left: 70px;
}
#err-msg-div {
	padding-left: 10%;
}
#going-rooms-div{
	color: #333;
}
#chat-div ul{
	background-color: #BBD8E9;
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#chat-div input {
	width: auto;
}
.hischat-li {
	color: #D14;
}